/* Background colors */
.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-white {
  background-color: white;
}

/* colors */
.white {
  color: #fff;
}

.primary-500 {
  color: var(--primary);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.error-300 {
  color: var(--error-300);
}

.center-text {
  text-align: center;
}

/* Margins */
.mb-8 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

/* Flex & Grid */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.items-center {
  align-items: center;
}

/* Width */
.fit-content {
  width: fit-content;
}

/* Text styling */
.text-left {
  text-align: left;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* Paddings */
.pd-0 {
  padding: 0;
}

.pd-2{
  padding: 0.5rem;
}
/* Typography */
.bold {
  font-weight: bold;
}

.center-ver{
  place-items: center;
}

.center-hor{
  justify-content: center;
}

.avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.icon{
  width: 20px;
  height: 17.5px;
}
.perfil{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.border-1{
  border-top: 1px solid var(--secondary-text);
  border-bottom: 1px solid var(--secondary-text);
}

.flex-end{
  flex-direction: column;
  align-items:flex-end;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.space-btw{
  justify-content: space-between;

}

.upcase{
  text-transform: uppercase;
}

.form-edit-tweet{
  width: 260px;
  height: 160px;
  border-radius: 8px;
}

.whithout_formate{
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

.flex-basis{
  flex-basis: 360px;
}
.strech{
  justify-content: stretch;
}
#text_area{
  width: 100%;
  box-shadow: 0 0 5px var(--primary-300);
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  resize: none;
}

.align-end{
  align-self: flex-end;
  justify-self: flex-end;
}