.tweet{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.tweet__content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tweet__header{
  display: flex;
  gap: 0.5rem;
}

.tweet__footer{
  display: flex;
  justify-content: space-between;
}

.active{
  /* color: var(--primary);   */
  color: black;
  /* border-bottom: var(--primary) solid 2px; */
}

#contenido > div{
  display: none
}

#contenido > .active{
  display: block;
  transition: all 0.3s ease;
}

.active .iconito{
  fill: var(--primary);
}

.item{
  width: 50%;
  padding: 4px 30px;
}

.active a{
  color: var(--primary);
}