.card__tweet{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
  height: fit-content;
  box-shadow: 0px 0px 1px var(--secondary-text);
  margin-bottom: 0.5rem;
}

.card__avatar, .avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__tweet--body{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.tweet__header{
  display: flex;
  flex-direction: column;
}

.card__tweet--body .username a{
  font-weight: 700;
  color: var(--gray-400);
}

.card__tweet--body .name a{
  color: var(--primary-300);
}

.card__tweet--body .time{
  font-size: 0.875rem;
  color: var(--gray-300);
  margin-bottom: 0.75rem;
}

.tweet__main{
  height: 31.875rem;
  color: black;
}

.tweet__footer{
  display: flex;
  justify-content: flex-start;
  gap: 0.625rem;
  align-self: space-between;
  justify-self: flex-end;
  margin-top: 0.75rem;
}

.form__tweet{
  background-color: white;
  padding: 0.5rem 1rem;
  width: fit-content;
  box-shadow: 0px 0px 1px var(--secondary-text);
}

.header_tweet, .header_title{
  display: flex;
  height: 4rem;
}

.text_area{
  border: none;
}
.active{
  border-bottom: var(--primary-500) solid 2px;
}

#contenido > div{
  display: none
}

#contenido > .active{
  display: block;
  transition: all 0.3s ease;
}

.active .iconito{
  fill: var(--primary);
}

.item{
  width: 50%;
  padding: 4px 30px;
}

.active a{
  color: var(--gray-400);
}

.center {
  place-content: center;
  place-items: center;
}